.container {
  background: #fbfbfb;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 40px;
  gap: 40px;
  padding-block: 50px;
}

.row,
.row2 {
  display: flex;
  gap: 50px;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 0;
  }
  img {
    max-width: 600px;
    height: auto;
    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (max-width: 768px) {
    padding-block: 20px;
  }
  h2 {
    color: #000;
    font-family: "Red Rose", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 62.4px;
    @media screen and (max-width: 768px) {
      font-size: 30px;
      line-height: 34px;
    }
  }
  h5 {
    color: #292929;
    font-family: "Sora", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.75px;
    @media screen and (max-width: 768px) {
      font-size: 12px;
      line-height: 21px;
    }
  }
}
