.container {
  background: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding-block: 20px;
  h2 {
    color: #da781f;
    font-size: 42.696px;
    font-style: normal;
    font-weight: 700;
    line-height: 68.11px;
  }
  p {
    color: #da781f;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  button {
    color: #fff;
    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    padding-block: 10px;
    padding-inline: 20px;
    background: #da781f;
    border: none;
  }
}
