.container {
  overflow: hidden;
  width: 100%;
}

.marqueeWrapper {
  width: 100%;
  overflow: hidden;
}

.marquee {
  display: flex;
  animation: scroll 20s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

.brandCard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 110px;
  height: 120px;
  padding: 0 10px;
}

.imageWrapper {
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 95px;
  }
}

.text {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
